* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.devoluciones h2, .preguntas h2, .nosotros h2, .categoria h2, .new h2 {
  font-size: 2em;
  font-weight: 700;
  height: 4em;
  width: 100vw;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.navegador {
  position: fixed;
  background-color: #191970;
  width: 100%;
  height: 4em;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 2;
}
.navegador ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .navegador ul {
    position: fixed;
    top: 0;
    left: -25em;
    background-color: #191970;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.6s ease;
  }
  .navegador ul:hover {
    left: 0em;
  }
}
.navegador ul a {
  color: hsl(300, 20%, 96%);
  text-decoration: none;
  position: relative;
  padding: 1.4em 1.5em;
}
.navegador ul a:hover {
  background-color: #FFDB58;
  cursor: pointer;
  transition: all 0.6s ease;
  border: #FFDB58 solid 1em;
  font-weight: 700;
  color: black;
}
@media (max-width: 1200px) {
  .navegador ul a {
    color: hsl(300, 20%, 96%);
  }
}
.navegador .carrito {
  background-color: #191970;
  width: 3em;
  height: 3em;
  position: absolute;
  margin: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3em 3em;
}
.navegador .carrito:hover {
  background-color: #424299;
  transition: 1s ease;
  cursor: pointer;
}
.navegador .carrito .fa-cart-shopping {
  color: hsl(300, 20%, 96%);
  font-size: 1.5em;
}
.navegador .carrito #contador {
  position: relative;
  bottom: 0;
  top: 0.5em;
  color: #FFDB58;
  font-weight: bold;
  font-size: 0.9em;
}
.navegador .fa-bars {
  display: none;
}
@media (max-width: 1200px) {
  .navegador .fa-bars {
    font-size: 2em;
    color: hsl(300, 20%, 96%);
    margin: 80%;
    display: block;
    width: 100%;
  }
  .navegador .fa-bars:hover + ul {
    left: 0em;
  }
}

.footer {
  background-color: #191970;
  height: 12em;
  width: 100%;
  color: hsl(300, 20%, 96%);
  margin-top: 6em;
  padding: 1em 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "ayuda     institucional socialmedia" "copyrigth copyrigth     copyrigth";
}
@media (max-width: 576px) {
  .footer {
    height: 100%;
    margin-top: 6em;
    padding: 1em 1em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "ayuda" "institucional" "socialmedia" "copyrigth";
  }
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  grid-area: ayuda;
}

.help ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.help a {
  color: hsl(300, 20%, 96%);
  text-decoration: none;
}

.institucional {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  grid-area: institucional;
}
@media (max-width: 576px) {
  .institucional {
    padding-top: 1em;
  }
}

.institucional a {
  color: hsl(300, 20%, 96%);
  text-decoration: none;
}

.socialmedia {
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
  grid-area: socialmedia;
}

.socialmedia a {
  color: hsl(300, 20%, 96%);
  text-decoration: none;
}

.fa-brands {
  padding-top: 1em;
  font-weight: bold;
}
.fa-brands:hover {
  color: #FFDB58;
  transition: all 0.5s ease;
}

.copyrigth {
  grid-area: copyrigth;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  background: linear-gradient(#191970, #C0C0C0);
  width: 100%;
  height: 12em;
  font-size: 1em;
  overflow: hidden;
}
@media (max-width: 576px) {
  .titulo {
    display: flex;
    justify-content: start;
    padding-left: 1.5em;
    font-size: 0.9em;
  }
}
.titulo h1 {
  color: #191970;
  height: 7em;
  line-height: 7em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.titulo h1 ul {
  width: 2em;
  font-size: 1em;
  padding-left: 0.2em;
  list-style: none;
  margin: 0;
}
.titulo h1 ul li {
  color: #191970;
  animation: cambiar 6s infinite;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -3.5em;
  }
  50% {
    margin-top: -3.5em;
  }
  85% {
    margin-top: -3.5em;
  }
  95% {
    margin-top: -3.5em;
  }
  100% {
    margin-top: 0;
  }
}
.info {
  width: 100%;
  height: 8em;
  background-color: #191970;
  margin-top: -0.2em;
  position: relative;
  color: hsl(300, 20%, 96%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.new {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.new .product {
  width: 20em;
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  margin: 1em;
  box-shadow: 0em 0.5em 0.7em rgba(10, 10, 10, 0.907);
  transition: 0.6s ease-in-out;
}
.new .product:hover {
  transform: translateY(1.3em);
}
.new .product img {
  width: 100%;
  height: 24em;
  object-fit: cover;
  border: none;
  margin-bottom: 1em;
}
.new .product .btn {
  display: flex;
}
.new .product .btn button {
  font-size: 1.2em;
  height: 2.5em;
  width: 6.5em;
  background-color: #191970;
  border-radius: 0.2em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: hsl(300, 20%, 96%);
  margin-top: 1em;
}
.new .product .btn button:hover {
  background-color: #FFDB58;
  cursor: pointer;
  transition: all 0.6s ease;
  border: #FFDB58 solid 1em;
  font-weight: 700;
  color: black;
}
.new .product h5 {
  display: flex;
  justify-content: center;
  font-size: 1em;
}
.new .product p {
  display: flex;
  justify-content: center;
}

.categoria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.categoria .genero {
  width: 18em;
  padding: 1.2em 1.2em;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0em 0.5em 0.7em rgba(0, 0, 0, 0.5);
  transition: 0.6s ease-in-out;
}
.categoria .genero:hover {
  transform: translateY(1.3em);
}
.categoria .genero:hover h3 {
  opacity: 1;
  transform: translateY(0em);
}
.categoria .genero img {
  width: 100%;
  height: 25em;
  object-fit: cover;
  border: none;
}
.categoria .genero h3 {
  color: #EAEAEA;
  text-shadow: 0em 0.5em 0.7em rgba(10, 10, 10, 0.907);
  font-size: 3em;
  font-weight: bolder;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transform: translateY(0.1em);
  transition: all 0.6s;
}

.nosotros h2 {
  margin-top: 0;
}
.nosotros p {
  display: flex;
  text-align: center;
  justify-content: center;
}

.lista h3 {
  padding: 2em 0em 0.5em 0em;
  display: flex;
  justify-content: center;
}
.lista ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  list-style: none;
}

h4 {
  margin-top: 2em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  text-decoration: overline;
}

.preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0em 2em;
  gap: 0.5em;
}
.preguntas img {
  width: 100%;
  object-fit: cover;
}
.preguntas h2 {
  text-align: center;
}
.preguntas h3 {
  padding: 1em 0em 0.5em 0em;
}
.preguntas ol {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  align-items: none;
  text-align: center;
  gap: 0.5em;
}
.preguntas p {
  text-align: center;
}

.devoluciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0em 2em;
}
.devoluciones h2 {
  text-align: center;
}
.devoluciones h3 {
  padding: 1em 0em 0.5em 0em;
}
.devoluciones ol {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  align-items: none;
  text-align: center;
  gap: 0.5em;
}
.devoluciones p {
  text-align: center;
}

.formulario {
  width: 75vw;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: solid;
  border-radius: 1em;
  border-color: #EAEAEA;
  border-width: 0.2em;
  padding: 2em 0em;
  background-color: #191970;
}
@media (min-width: 768px) {
  .formulario {
    width: 32em;
  }
}
.formulario h3 {
  height: 2em;
  color: hsl(300, 20%, 96%);
  display: flex;
  text-align: center;
}
.formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  gap: 0.5em;
}
.formulario form input {
  height: 2.5em;
  width: 50vw;
  border-radius: 0.3em;
  font-size: 1em;
}
@media (min-width: 768px) {
  .formulario form input {
    width: 21em;
  }
}
.formulario form button {
  width: 6em;
  height: 2em;
  margin: 0.5em;
  border: none;
  border-radius: 0.5em;
  background-color: #EAEAEA;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
}
.formulario form button:hover {
  background-color: #FFDB58;
  cursor: pointer;
  transition: all 0.6s ease;
  border: #FFDB58 solid 1em;
  font-weight: 700;
}

.product-carrito {
  height: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}
.product-carrito .tarjeta-carrito {
  width: 10em;
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  margin: 1em 0.5em;
  box-shadow: 0em 0.5em 0.7em rgba(10, 10, 10, 0.907);
  border-radius: 0.2em;
}
.product-carrito .tarjeta-carrito .imagen-carrito {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0.5em;
}
.product-carrito .tarjeta-carrito .nombre-carrito {
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-carrito .tarjeta-carrito .precio-carrito {
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-carrito .tarjeta-carrito .cuota-carrito {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.btn-carrito button {
  font-size: 1.2em;
  height: 2.5em;
  width: 9em;
  background-color: #191970;
  border-radius: 0.2em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: hsl(300, 20%, 96%);
  margin-top: 1em;
}
.btn-carrito button:hover {
  background-color: #FFDB58;
  cursor: pointer;
  transition: all 0.6s ease;
  border: #FFDB58 solid 1em;
  font-weight: 700;
  color: black;
}

/*# sourceMappingURL=style.css.map */
