* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.devoluciones h2, .preguntas h2, .nosotros h2, .categoria h2, .new h2 {
  font-size: 2em;
  font-weight: 700;
  height: 4em;
  width: 100vw;
  text-decoration: overline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.navegador {
  position: fixed;
  background-color: #191970;
  width: 100%;
  height: 4em;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 2;
}
.navegador ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .navegador ul {
    position: fixed;
    top: 0;
    left: -25em;
    background-color: #191970;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.6s ease;
  }
  .navegador ul:hover {
    left: 0em;
  }
}
.navegador a {
  color: hsl(300, 20%, 96%);
  text-decoration: none;
  position: relative;
  padding: 1.4em 1.5em;
}
.navegador a:hover {
  background-color: #FFDB58;
  cursor: pointer;
  transition: all 0.6s ease;
  border: #FFDB58 solid 1em;
  font-weight: 700;
  color: black;
}
@media (max-width: 1200px) {
  .navegador a {
    color: hsl(300, 20%, 96%);
  }
}
.navegador .fa-bars {
  display: none;
}
@media (max-width: 1200px) {
  .navegador .fa-bars {
    font-size: 2em;
    color: hsl(300, 20%, 96%);
    margin: 1em 90%;
    display: block;
    width: 100%;
  }
  .navegador .fa-bars:hover + ul {
    left: 0em;
  }
}

.footer {
  background-color: #191970;
  height: 12em;
  width: 100%;
  color: hsl(300, 20%, 96%);
  margin-top: 6em;
  padding: 1em 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "ayuda     institucional socialmedia" "copyrigth copyrigth     copyrigth";
}
@media (max-width: 576px) {
  .footer {
    height: 100%;
    margin-top: 6em;
    padding: 1em 1em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "ayuda" "institucional" "socialmedia" "copyrigth";
  }
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  grid-area: ayuda;
}

.help ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.help a {
  color: hsl(300, 20%, 96%);
  text-decoration: none;
}

.institucional {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  grid-area: institucional;
}
@media (max-width: 576px) {
  .institucional {
    padding-top: 1em;
  }
}

.institucional a {
  color: hsl(300, 20%, 96%);
  text-decoration: none;
}

.socialmedia {
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
  grid-area: socialmedia;
}

.socialmedia a {
  color: hsl(300, 20%, 96%);
  text-decoration: none;
}

.fa-brands {
  padding-top: 1em;
  font-weight: bold;
}
.fa-brands:hover {
  color: #FFDB58;
  transition: all 0.5s ease;
}

.copyrigth {
  grid-area: copyrigth;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  background: linear-gradient(#191970, #C0C0C0);
  width: 100%;
  height: 12em;
  font-size: 1em;
  overflow: hidden;
}
@media (max-width: 576px) {
  .titulo {
    display: flex;
    justify-content: start;
    padding-left: 1.5em;
    font-size: 0.9em;
  }
}
.titulo h1 {
  color: #191970;
  height: 7em;
  line-height: 7em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.titulo h1 ul {
  width: 2em;
  font-size: 1em;
  padding-left: 0.2em;
  list-style: none;
  margin: 0;
}
.titulo h1 ul li {
  color: #191970;
  animation: cambiar 6s infinite;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -3.5em;
  }
  50% {
    margin-top: -3.5em;
  }
  85% {
    margin-top: -3.5em;
  }
  95% {
    margin-top: -3.5em;
  }
  100% {
    margin-top: 0;
  }
}
.info {
  width: 100%;
  height: 8em;
  background-color: #191970;
  margin-top: -0.2em;
  position: relative;
  color: hsl(300, 20%, 96%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.new {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.new .product {
  width: 20em;
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  margin: 1em;
  box-shadow: 0em 0.5em 0.7em rgba(10, 10, 10, 0.907);
  transition: 0.6s ease-in-out;
}
.new .product:hover {
  transform: translateY(1.3em);
}
.new .product img {
  width: 100%;
  height: 24em;
  object-fit: cover;
  border: none;
  margin-bottom: 1em;
}
.new .product button {
  font-size: 1.1em;
  height: 2.5em;
  width: 9em;
  background-color: #191970;
  border-radius: 0.2em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: hsl(300, 20%, 96%);
  margin-top: 1em;
}
.new .product button:hover {
  background-color: #FFDB58;
  cursor: pointer;
  transition: all 0.6s ease;
  border: #FFDB58 solid 1em;
  font-weight: 700;
  color: black;
}
.new .product h5 {
  display: flex;
  justify-content: center;
  font-size: 1em;
}
.new .product p {
  display: flex;
  justify-content: center;
}

.categoria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.categoria .genero {
  width: 18em;
  padding: 1.2em 1.2em;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0em 0.5em 0.7em rgba(0, 0, 0, 0.5);
  transition: 0.6s ease-in-out;
}
.categoria .genero:hover {
  transform: translateY(1.3em);
}
.categoria .genero:hover h3 {
  opacity: 1;
  transform: translateY(0em);
}
.categoria .genero img {
  width: 100%;
  height: 25em;
  object-fit: cover;
  border: none;
}
.categoria .genero h3 {
  color: #EAEAEA;
  text-shadow: 0em 0.5em 0.7em rgba(10, 10, 10, 0.907);
  font-size: 3em;
  font-weight: bolder;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transform: translateY(0.1em);
  transition: all 0.6s;
}

/*.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    margin-bottom: 10em;
    @media(max-width:576px){
        margin: 0;
    }
    h2{
        @extend %h2;
    }
    input{
        display: none;
    }
    .cards{
        position: relative;
        height: 31em;
        width: 20em;
        margin-top: 2em;
        perspective: 40em;
        transform-style: preserve-3d;
        border-radius: 1em;
        @media(max-width:576px){
            perspective: 20em;
            width: 12em;
            height: 20em;
        }
        label{
            position: absolute;
            width: 20em;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 0.5em;
            cursor: pointer;
            transition: transform 0.6s ease;
            @media(max-width: 576px){
                width: 13em;
                height: 20.5em;
                padding-top: 0;
            }
            .tarjeta{
                position: relative;
                height: 100%;
                padding: 0.5em 0.1em 1.2em 0.1em;
                box-shadow: $bxsh;
                background-color: white;
                @media(max-width: 576px){
                    width: 13em;
                    height: 20.5em;
                    padding-top: 0;
                }
                .imagen{
                    display: flex;
                    justify-content: space-evenly;
                    img{
                        border-radius: 0.5em;
                        box-shadow: $bxsh;
                        margin-top: 1em;
                        width: 86%;
                        height: 24em;
                        object-fit: cover;
                        transition: all .7s;
                        @media(max-width: 576px){
                            height: 12em;
                        }
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }
                .infos{
                    display: block;
                    text-align: end;
                    padding-top: 3em;
                    padding-right: 1em;
                    @media(max-width: 576px){
                        padding-top: 1em;
                    }
                    button{
                        @include boton(1.1em, 2.5em, 9em, $bgc1, 0.2em, none, flex, center, center, auto);
                        color: $color;
                        @media(max-width: 576px){
                            font-size: 0.8em;
                            width: 7em;
                            height: 2.2em;
                            margin-top: 1em;
                        }
                        &:hover{
                            @include boton-hover($bgc4, pointer, all 0.6s ease, $bgc4 solid 1em, 700);
                            color: $color2;
                        }
                    }
                    h5{
                        display: flex;
                        justify-content: end;
                        font-size: 1em;
                        @media(max-width: 576px){
                            font-size: 0.8em;
                        }
                    }
                    p{
                        display: flex;
                        justify-content: end;
                        margin-bottom: 1em;
                        @media(max-width: 576px){
                            font-size: 0.8em;
                        }
                    }
                }   
            }
        } 
    }
}
#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-90%, 0, -16em);
}
#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-45%, 0, -8em);
}
#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(0, 0, 0);
}
#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(45%, 0, -8em);
}
#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(90%, 0, -16em);
}

#s6:checked~.cards #slide9,
#s7:checked~.cards #slide10,
#s8:checked~.cards #slide6,
#s9:checked~.cards #slide7,
#s10:checked~.cards #slide8{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-90%, 0, -16em);
}
#s6:checked~.cards #slide10,
#s7:checked~.cards #slide6,
#s8:checked~.cards #slide7,
#s9:checked~.cards #slide8,
#s10:checked~.cards #slide9{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-45%, 0, -8em);
}
#s6:checked~.cards #slide6,
#s7:checked~.cards #slide7,
#s8:checked~.cards #slide8,
#s9:checked~.cards #slide9,
#s10:checked~.cards #slide10{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(0, 0, 0);
}
#s6:checked~.cards #slide7,
#s7:checked~.cards #slide8,
#s8:checked~.cards #slide9,
#s9:checked~.cards #slide10,
#s10:checked~.cards #slide6{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(45%, 0, -8em);
}
#s6:checked~.cards #slide8,
#s7:checked~.cards #slide9,
#s8:checked~.cards #slide10,
#s9:checked~.cards #slide6,
#s10:checked~.cards #slide7{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(90%, 0, -16em);
}

#s11:checked~.cards #slide14,
#s12:checked~.cards #slide15,
#s13:checked~.cards #slide11,
#s14:checked~.cards #slide12,
#s15:checked~.cards #slide13{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-90%, 0, -16em);
}
#s11:checked~.cards #slide15,
#s12:checked~.cards #slide11,
#s13:checked~.cards #slide12,
#s14:checked~.cards #slide13,
#s15:checked~.cards #slide14{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-45%, 0, -8em);
}
#s11:checked~.cards #slide11,
#s12:checked~.cards #slide12,
#s13:checked~.cards #slide13,
#s14:checked~.cards #slide14,
#s15:checked~.cards #slide15{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(0, 0, 0);
}
#s11:checked~.cards #slide12,
#s12:checked~.cards #slide13,
#s13:checked~.cards #slide14,
#s14:checked~.cards #slide15,
#s15:checked~.cards #slide11{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(45%, 0, -8em);
}
#s11:checked~.cards #slide13,
#s12:checked~.cards #slide14,
#s13:checked~.cards #slide15,
#s14:checked~.cards #slide11,
#s15:checked~.cards #slide12{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(90%, 0, -16em);
}

#s16:checked~.cards #slide18,
#s17:checked~.cards #slide19,
#s18:checked~.cards #slide16,
#s19:checked~.cards #slide17{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-90%, 0, -16em);
}
#s16:checked~.cards #slide19,
#s17:checked~.cards #slide16,
#s18:checked~.cards #slide17,
#s19:checked~.cards #slide18{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-45%, 0, -8em);
}
#s16:checked~.cards #slide16,
#s17:checked~.cards #slide17,
#s18:checked~.cards #slide18,
#s19:checked~.cards #slide19{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(0, 0, 0);
}
#s16:checked~.cards #slide17,
#s17:checked~.cards #slide18,
#s18:checked~.cards #slide19,
#s19:checked~.cards #slide16{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(45%, 0, -8em);
}*/
.body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

.slide-container {
  max-width: 70em;
  width: 100%;
  background-color: #FFF;
  padding: 2.5em 0;
}

.slide-content {
  margin: 0 2.5em;
}

.card {
  background-color: #fff;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2.5em;
  height: 2.5em;
  width: 2.5em;
  background-color: #FFF;
}

.overlay::after {
  border-radius: 0 1.5em 0 0;
  background-color: #FFF;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3em;
  position: relative;
}

.card-content {
  padding: 0.6em 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  padding: 0.6em 0;
  position: relative;
  height: 23em;
  width: 18.5em;
  background: #FFF;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button {
  font-size: 1.1em;
  height: 2.5em;
  width: 9em;
  background-color: #191970;
  border-radius: 0.2em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: hsl(300, 20%, 96%);
  margin-top: 1em;
}
.button:hover {
  background-color: #FFDB58;
  cursor: pointer;
  transition: all 0.6s ease;
  border: #FFDB58 solid 1em;
  font-weight: 700;
  color: black;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.nosotros h2 {
  margin-top: 0;
}
.nosotros p {
  display: flex;
  text-align: center;
  justify-content: center;
}

.lista h3 {
  padding: 2em 0em 0.5em 0em;
  display: flex;
  justify-content: center;
}
.lista ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  list-style: none;
}

h4 {
  margin-top: 2em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  text-decoration: overline;
}

.preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0em 2em;
  gap: 0.5em;
}
.preguntas img {
  width: 100%;
  object-fit: cover;
}
.preguntas h2 {
  text-align: center;
}
.preguntas h3 {
  padding: 1em 0em 0.5em 0em;
}
.preguntas ol {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  align-items: none;
  text-align: center;
  gap: 0.5em;
}
.preguntas p {
  text-align: center;
}

.devoluciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0em 2em;
}
.devoluciones h2 {
  text-align: center;
}
.devoluciones h3 {
  padding: 1em 0em 0.5em 0em;
}
.devoluciones ol {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  align-items: none;
  text-align: center;
  gap: 0.5em;
}
.devoluciones p {
  text-align: center;
}

.formulario {
  width: 75vw;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: solid;
  border-radius: 1em;
  border-color: #EAEAEA;
  border-width: 0.2em;
  padding: 2em 0em;
  background-color: #191970;
}
@media (min-width: 768px) {
  .formulario {
    width: 32em;
  }
}
.formulario h3 {
  height: 2em;
  color: hsl(300, 20%, 96%);
  display: flex;
  text-align: center;
}
.formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  gap: 0.5em;
}
.formulario form input {
  height: 2.5em;
  width: 50vw;
  border-radius: 0.3em;
  font-size: 1em;
}
@media (min-width: 768px) {
  .formulario form input {
    width: 21em;
  }
}
.formulario form button {
  width: 6em;
  height: 2em;
  margin: 0.5em;
  border: none;
  border-radius: 0.5em;
  background-color: #EAEAEA;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
}
.formulario form button:hover {
  background-color: #FFDB58;
  cursor: pointer;
  transition: all 0.6s ease;
  border: #FFDB58 solid 1em;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
