/*.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    margin-bottom: 10em;
    @media(max-width:576px){
        margin: 0;
    }
    h2{
        @extend %h2;
    }
    input{
        display: none;
    }
    .cards{
        position: relative;
        height: 31em;
        width: 20em;
        margin-top: 2em;
        perspective: 40em;
        transform-style: preserve-3d;
        border-radius: 1em;
        @media(max-width:576px){
            perspective: 20em;
            width: 12em;
            height: 20em;
        }
        label{
            position: absolute;
            width: 20em;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 0.5em;
            cursor: pointer;
            transition: transform 0.6s ease;
            @media(max-width: 576px){
                width: 13em;
                height: 20.5em;
                padding-top: 0;
            }
            .tarjeta{
                position: relative;
                height: 100%;
                padding: 0.5em 0.1em 1.2em 0.1em;
                box-shadow: $bxsh;
                background-color: white;
                @media(max-width: 576px){
                    width: 13em;
                    height: 20.5em;
                    padding-top: 0;
                }
                .imagen{
                    display: flex;
                    justify-content: space-evenly;
                    img{
                        border-radius: 0.5em;
                        box-shadow: $bxsh;
                        margin-top: 1em;
                        width: 86%;
                        height: 24em;
                        object-fit: cover;
                        transition: all .7s;
                        @media(max-width: 576px){
                            height: 12em;
                        }
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }
                .infos{
                    display: block;
                    text-align: end;
                    padding-top: 3em;
                    padding-right: 1em;
                    @media(max-width: 576px){
                        padding-top: 1em;
                    }
                    button{
                        @include boton(1.1em, 2.5em, 9em, $bgc1, 0.2em, none, flex, center, center, auto);
                        color: $color;
                        @media(max-width: 576px){
                            font-size: 0.8em;
                            width: 7em;
                            height: 2.2em;
                            margin-top: 1em;
                        }
                        &:hover{
                            @include boton-hover($bgc4, pointer, all 0.6s ease, $bgc4 solid 1em, 700);
                            color: $color2;
                        }
                    }
                    h5{
                        display: flex;
                        justify-content: end;
                        font-size: 1em;
                        @media(max-width: 576px){
                            font-size: 0.8em;
                        }
                    }
                    p{
                        display: flex;
                        justify-content: end;
                        margin-bottom: 1em;
                        @media(max-width: 576px){
                            font-size: 0.8em;
                        }
                    }
                }   
            }
        } 
    }
}
#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-90%, 0, -16em);
}
#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-45%, 0, -8em);
}
#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(0, 0, 0);
}
#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(45%, 0, -8em);
}
#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(90%, 0, -16em);
}

#s6:checked~.cards #slide9,
#s7:checked~.cards #slide10,
#s8:checked~.cards #slide6,
#s9:checked~.cards #slide7,
#s10:checked~.cards #slide8{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-90%, 0, -16em);
}
#s6:checked~.cards #slide10,
#s7:checked~.cards #slide6,
#s8:checked~.cards #slide7,
#s9:checked~.cards #slide8,
#s10:checked~.cards #slide9{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-45%, 0, -8em);
}
#s6:checked~.cards #slide6,
#s7:checked~.cards #slide7,
#s8:checked~.cards #slide8,
#s9:checked~.cards #slide9,
#s10:checked~.cards #slide10{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(0, 0, 0);
}
#s6:checked~.cards #slide7,
#s7:checked~.cards #slide8,
#s8:checked~.cards #slide9,
#s9:checked~.cards #slide10,
#s10:checked~.cards #slide6{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(45%, 0, -8em);
}
#s6:checked~.cards #slide8,
#s7:checked~.cards #slide9,
#s8:checked~.cards #slide10,
#s9:checked~.cards #slide6,
#s10:checked~.cards #slide7{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(90%, 0, -16em);
}

#s11:checked~.cards #slide14,
#s12:checked~.cards #slide15,
#s13:checked~.cards #slide11,
#s14:checked~.cards #slide12,
#s15:checked~.cards #slide13{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-90%, 0, -16em);
}
#s11:checked~.cards #slide15,
#s12:checked~.cards #slide11,
#s13:checked~.cards #slide12,
#s14:checked~.cards #slide13,
#s15:checked~.cards #slide14{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-45%, 0, -8em);
}
#s11:checked~.cards #slide11,
#s12:checked~.cards #slide12,
#s13:checked~.cards #slide13,
#s14:checked~.cards #slide14,
#s15:checked~.cards #slide15{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(0, 0, 0);
}
#s11:checked~.cards #slide12,
#s12:checked~.cards #slide13,
#s13:checked~.cards #slide14,
#s14:checked~.cards #slide15,
#s15:checked~.cards #slide11{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(45%, 0, -8em);
}
#s11:checked~.cards #slide13,
#s12:checked~.cards #slide14,
#s13:checked~.cards #slide15,
#s14:checked~.cards #slide11,
#s15:checked~.cards #slide12{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(90%, 0, -16em);
}

#s16:checked~.cards #slide18,
#s17:checked~.cards #slide19,
#s18:checked~.cards #slide16,
#s19:checked~.cards #slide17{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-90%, 0, -16em);
}
#s16:checked~.cards #slide19,
#s17:checked~.cards #slide16,
#s18:checked~.cards #slide17,
#s19:checked~.cards #slide18{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(-45%, 0, -8em);
}
#s16:checked~.cards #slide16,
#s17:checked~.cards #slide17,
#s18:checked~.cards #slide18,
#s19:checked~.cards #slide19{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(0, 0, 0);
}
#s16:checked~.cards #slide17,
#s17:checked~.cards #slide18,
#s18:checked~.cards #slide19,
#s19:checked~.cards #slide16{
    box-shadow: 0em 0.5em 0.7em rgba(0,0,0,0.5);
    transform: translate3d(45%, 0, -8em);
}*/

.body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}
.slide-container{
    max-width: 70em;
    width: 100%;
    background-color: #FFF;
    padding: 2.5em 0;
}
.slide-content{
    margin: 0 2.5em;
}
.card{
    background-color: #fff;
}
.overlay::before,
.overlay::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -2.5em;
    height: 2.5em;
    width: 2.5em;
    background-color: #FFF;
}
.overlay::after{
    border-radius: 0 1.5em 0 0;
    background-color: #FFF;
}
.image-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    row-gap: 0.3em;
    position: relative;
}
.card-content{
    padding: 0.6em 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-image{
    padding: 0.6em 0;
    position: relative;
    height: 23em;
    width: 18.5em;
    background: #FFF;
}.card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.button{
    @include boton(1.1em, 2.5em, 9em, $bgc1, 0.2em, none, flex, center, center, auto);
    color: $color;
    margin-top: 1em;
    &:hover{
        @include boton-hover($bgc4, pointer, all 0.6s ease, $bgc4 solid 1em, 700);
        color: $color2;
    }
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}



