%h2{
    font-size: 2em;
    font-weight: 700;
    height: 4em;
    width: 100vw;
    text-decoration: overline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}