.footer{
    background-color: $bgc3;
    height: 12em;
    width: 100%;
    color: $color;
    margin-top: 6em;
    padding: 1em 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "ayuda     institucional socialmedia"
                         "copyrigth copyrigth     copyrigth";
    @media(max-width:576px){
        height: 100%;
        margin-top: 6em;
        padding: 1em 1em;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "ayuda"
                             "institucional"
                             "socialmedia"
                             "copyrigth";
    }

}
.help{
    @include flex-column-center-gap;
    grid-area: ayuda;
}
.help ul{
    @include flex-column-center-gap;
    list-style: none;
}
.help a{
    @include color-none;
}
.institucional{
    @include flex-column-center-gap;
    grid-area: institucional;
    @media(max-width:576px){
        padding-top: 1em;
    }
}
.institucional a{
    @include color-none;
}
.socialmedia{
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
    grid-area: socialmedia;
}
.socialmedia a{
    @include color-none;
}
.fa-brands{
    padding-top: 1em;
    font-weight: bold;
    &:hover{
        color: $bgc2;
        transition: all 0.5s ease;
    }
}
.copyrigth{
    grid-area: copyrigth;
    display: flex;
    align-items: center;
    justify-content: center;
}