.navegador{
    position: fixed;
    background-color: $bgc1;
    width: 100vw;
    height: 4em;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 2;
    ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        @media(max-width:1200px){
            &:hover{
                left: 0em;
            }
            position: fixed;
            top: 0;
            left: -25em;
            background-color: $bgc1;
            width: 30vw;
            height: 100vh;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            transition: all 0.6s ease;
        }
    }
    a{
        color: $color;
        text-decoration: none;
        position: relative;
        padding: 1.4em 1.5em;
        &:hover{
            @include boton-hover($bgc4, pointer, all 0.6s ease, $bgc4 solid 1em, 700);
            color: $color2;
        }
        @media(max-width:1200px){
            color: $color;
        }
    }
    .fa-bars{
        display: none;
        @media(max-width:1200px){
            &:hover + ul{
                left: 0em;
            }
            font-size: 2em;
            color: $color;
            margin: 1em 90%;
            display: block;
            width: 100%;
        }
    } 
}